.nav { grid-area: nav;}
.header { grid-area: header;}
.main { grid-area: main;}
.img {grid-area: img;}

body{
    background-color: #CACEAF;
    height: 1365.33px;
    width: 1920px;
    margin-bottom: 25px;
}

.container{
    display: grid;
    grid-template-areas: 
    'nav header header header header header'
    'nav main main main main main'
    'nav img img img img img';
    margin: 20px;
    gap: 20px;
    position: relative;
    
}

.nav{
    text-align: center;
    width: 282.66px;
    height: auto;
    margin-bottom: 5px;
}

h3{
    font-size: 55px;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 0.01;
    font-weight:bolder;
}

.header{
    width:1570px;
    height: 116px;
    text-align: center;
    justify-items:left;
}

h2{
    font-size: 48px;
    font-weight: normal;
}

.nav, .header, .main {
    background-color:gainsboro;
    border: 1px solid black;
}
h1{
    font-size: 80px;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 0.01;
    font-weight:lighter;
}

.main{
    height:fit-content;
    width: 1570px;
}

h2{
    font-size: 48px;
    font-weight: normal;
}

h4{
    font-family: 'Dark Grotesque', sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: normal;
}

ol{
    font-size: 25px;
}

p{
    font-size: 20px;
}

.links{
    font-size: 20px;
    justify-items: left;
    text-indent: -40px;
}

.navlista {
    font-size: 31px;  
}